body {
   font-family: Arial;
}

/* Banner Styles*/
/*////////////////////////////////////////////////////////////////////////////*/
#banner{
  color:#114590;
  padding-bottom:10px;
  font-size:50px;
}

/* iFrame Styles*/
/*////////////////////////////////////////////////////////////////////////////*/
#iFrameWindow{
   height:100%;
   width:100%;
   min-height: 75vh;
   -moz-box-shadow:1px 1px 3px #555;
   -webkit-box-shadow:1px 1px 3px #555;
   -box-shadow:1px 1px 3px #555;
}

/* jFrame Styles */
/*////////////////////////////////////////////////////////////////////////////*/
#jFrame{
  height:100%;
  width:100%;
  min-height: 70vh;

  border-style: solid;
  border-color: #ccc;
  border-width:3px;
  -moz-box-shadow:1px 1px 3px #555;
  -webkit-box-shadow:1px 1px 3px #555;
  -box-shadow:1px 1px 3px #555;
  border-radius:2px;
}

.tab {
    overflow: hidden;
    margin:0;
    padding:0;
    border-radius:4px;
}

#firstTab{
  margin-left:20px;
  border-left-style:solid;
}

.tab a {
    border-radius:2px;
    background-color: #fff;
    border:1px solid #fff;
    font-family:"Myriad Pro", "Trebuchet MS", sans-serif;
  	-moz-box-shadow:1px 1px 3px #555;
  	-webkit-box-shadow:1px 1px 3px #555;
  	-box-shadow:1px 1px 3px #555;
    border-color:#f2f2f2;
    float: left;
    outline: none;
    cursor: pointer;
    padding: 8px 36px;
    transition: 0.3s;
    font-size: 20px;
    text-decoration: none;
    color:inherit;
}

.tab a:hover {
    background-color: #f2f2f2;
}

.tab a.active {
    background-color: #337ab7;
    border-color:#0095dd;
    color:#fff;
}

.tabcontent {
    display: none;
    background-color:#ccc;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
    position: absolute;
    top:100px;
    left:62%;
    right:30px;
    bottom:100px;
    -moz-box-shadow:1px 1px 3px #555;
  	-webkit-box-shadow:1px 1px 3px #555;
  	-box-shadow:1px 1px 3px #555;

}

/* Search Bar Styles*/
/*////////////////////////////////////////////////////////////////////////////*/

#searchBarDropdown{
  position:absolute;
  top:-4px;
  left:-15px;
  height:48px;
  color:black;
  background:#fff;
  border:none;
  text-size:50px;
  border-radius:0px;
  border-right:1px solid #ddd;
}
#searchBarDropdown:hover{
  background:#f2f2f2;
}

#searchBox{
  display: inline-block;
  width:100%;
  max-width:40%;
  border-radius:3px;
  padding: 4px 55px 4px 15px;
  margin-bottom:10px;
  position:relative;
  background:#fff;
  border: 1px solid #ddd;
  transition: 0.3s;
  height:50px;
}

#searchBox:hover{
  border:1px solid #aaa;
}

 input[type="text"]{
	border:none;
  box-shadow:none;
  display:inline-block;
  padding-top:5px;
  padding-left:30px;
	background: transparent;
  width:95%;
	font-size:24px;
	font-family:"Myriad Pro", "Trebuchet MS", sans-serif;
	outline:none;
	text-shadow:1px 1px 1px #fff;

}

button.sb_search{
	background:transparent url(../icons/search.png) no-repeat center center;
	height:48px;
	width:60px;
	border:none;
  position:absolute;
  right:0px;
  top: 0px;
	outline:none;
	cursor:pointer;
  transition: 0.3s;
  border-radius:5px;
}
button.sb_search:hover{
	background-color:#f2f2f2;
}

/*////////////////////////////////////////////////////////////////////////////*/


.show {display:block;}
