<!DOCTYPE html>
<html lang="en">
  <head>
    <title>ContentPro</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
    <script src="{{ url_for('static',filename='scripts/jquery/jquery.form.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/jquery/jquery.jframe.js') }}"></script>
  </head>
  <body>
    <div class="container-fluid">

      <!-- Banner -->
      <div class="row">
        <div class="col-sm-12">
          <h1 id="banner">ContentPro</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">

          <!-- SearchBar -->
          <div id="searchBox">

              <!-- Dropdown Button -->
              <div class="dropdown">
                <button id="searchBarDropdown" class="btn btn-primary dropdown-toggle" type="button"
                data-toggle="dropdown"><span class="glyphicon glyphicon-menu-down"</span></button>

                <ul id="dropdown-menu" class="dropdown-menu" style="top:45px; left:-15px;">

                  {% for val in links.itervalues(): %}
                    <li>
                      <a class="dropdownItem" id="{{val.url}}">
                        {{val.name}}
                      </a>
                    </li>
                  {% endfor %}

                </ul>
              </div>

              <!-- Search Input -->
              <input id="searchBar"  type="text"
                   value="https://www.dpstele.com"/>

              <!-- Search Button -->
              <button id="sb_search" class="sb_search" value=""/>
            </div>
          </div>
        </div>


      <div class="row">

        <!-- iFrame -->
        <div class="col-sm-5">
          <iframe id="iFrameWindow" src="https://www.dpstele.com"></iframe>
        </div>

        <!-- jFrame Tabs -->
        <div class="col-sm-7">
          <div class="tab" id="tabBar">
            <a href="{{ url_for('static',filename='pages/tab1.html') }}"
               id="firstTab"
               class="tablinks active"
               target="jFrame"
               jframe="activate">
               Tab 1
            </a>
            <a href="{{ url_for('static',filename='pages/tab2.html') }}"
               class="tablinks"
               target="jFrame"
               jframe="activate">
               Tab 2
            </a>
            <a href="{{ url_for('static',filename='pages/tab3.html') }}"
               class="tablinks"
               target="jFrame"
               jframe="activate">
               Tab 3
            </a>
            <a href="{{ url_for('static',filename='pages/tab4.html') }}"
               class="tablinks"
               target="jFrame"
               jframe="activate">
               Tab 4
            </a>

          </div>

          <!-- iFrame Window -->
          <div id="jFrame" src="{{ url_for('static',filename='pages/tab1.html') }}"></div>
        </div>

      </div>
    </div>
    <script src="{{ url_for('static',filename='scripts/javascript/main.js') }}"></script>
  </body>
</html>
